html {
  background-color: #232323;
}

#message {
  color: #bbb;
  background-color: #a42424;
  display: none;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:fullscreen {
    padding: 8px;
  }

  #player-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #the-player {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }

  #the-controller {
    display: none;
    width: 100%;
    height: 100px;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    margin-top: 16px;
    flex-shrink: 0;

    .camera {
      height: 16px;
      width: 16px;
      background-color: #bbb;
      border-radius: 50%;
      display: block;
      pointer-events: none;

      &.select {
        background-color: aqua;
      }
    }
  }
}

#full-screen-button {
  width: 32px;
  height: 32px;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 80%;

  &:hover {
    background-color: gray;
  }

  svg {
    margin: auto;
    width: 24px;
    fill: white;
    stroke: white;
    filter: dropShadow();
  }
}